# Postgres
POSTGRES_USER = (usuario postgres)
POSTGRES_PASSWORD = (clave postgres)
POSTGRES_DB = (base de datos)

# Backend
DB_HOST = db
DB_PORT = 5432
DB_USER = (usuario postgres)
DB_PASSWORD = (clave postgres)
DB_NAME = (base de datos)
PORT = 3000
JWT_SECRET = (JWT secret)
COOKIE_KEY = (cookie key)